<footer class="footer-footer" [ngClass]="rootClassName">
    <div class="footer-container">
        <div class="footer-container1"></div>
        <div class="footer-container2">
            <div class="footer-container3">
                <a routerLink="/company" class="footer-navlink Large">{{ 'companyLink' | translate }}</a>
                <a routerLink="/company" class="footer-navlink1 Large">{{ 'aboutUsLink' | translate }}</a>
                <a routerLink="/company" class="footer-navlink2 Large">{{ 'careersLink' | translate }}</a>
            </div>
            <div class="footer-container4">
                <a routerLink="/" class="footer-navlink3 Large">{{ 'homeLink' | translate }}</a>
                <a routerLink="/sign-in" class="footer-navlink4 Large">{{ 'registerLink' | translate }}</a>
                <a routerLink="/company" class="footer-navlink5 Large">{{ 'aboutLink' | translate }}</a>
            </div>
            <div class="footer-container5">
                <span class="footer-text Large">{{ 'freeText' | translate }}</span>
                <span class="footer-text1 Large">{{ 'proText' | translate }}</span>
                <span class="footer-text2 Large">{{ 'latestText' | translate }}</span>
            </div>
        </div>
    </div>
    <img alt="image" src="/assets/waves-white.svg" class="footer-image" />
</footer>