:host {
    display: contents;
}

.sign-in-button {
    min-width: 70px;
    background-color: #14213D;
    padding-top: var(--dl-space-space-triplequarterunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-triplequarterunit);
    color: #d4d4d4;
}